* {
	margin: 0;
	padding: 0;
}

body {
	background: url('../images/bg.jpg') #000 center top no-repeat;
	background-size: 100% auto;
	font-family: 'Roboto Condensed', sans-serif;
}

#about-me {
	display: none;
	margin: 2% auto 0 auto;
	height: 90px;
	text-align: center;
}

#about-me a, #work a {
	text-decoration: none;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 2px;
	color: #e8e8e8;
}

#about-me a:hover, #work a:hover {
	moz-transition-duration: 1s;
	-webkit-transition-duration: 1s;
	-ms-transition-duration: 1s;
	-o-transition-duration: 1s;
	transition-duration: 1s;
	color: #fff;
}

.icon-about {
	display: none;
	margin: 5px auto 0 auto;
	height: 50px;
	width: 50px;
	background: url("../images/user.png") no-repeat;
	
}

.icon-work {
	display: none;
	margin: 10px auto 0 auto;
	height: 50px;
	width: 50px;
	background: url("../images/code.png") no-repeat;
	
}

#presentation {
	display: none;
	position: absolute;
	top: 35%;
	width: 100%;
	text-align: center;
	float: left;
	z-index: 999;
}

h1 {
	font-size: 70px;
	color: #eee;
}

h2{
	padding-top: 0.4%;
	font-size: 26px;
	font-weight: normal;
	color: #eee;
	text-transform: uppercase;
	opacity: 1;
}

#work {	
	display: none;
	left: 47.8%;
	bottom: 5%;
	position: absolute;
}